# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar
# Ignore all compiled class files
*.class

# Ignore all target directories except for src/test
target/
!**/src/test/**/target/

# STS (Spring Tool Suite) specific files
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# IntelliJ IDEA specific files
.idea/
*.iws
*.iml
*.ipr

# NetBeans specific files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Ignore all build directories except for src/main and src/test
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code specific files
.vscode/
